html, body {
    margin: 0;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;


}

.main-container {
    padding: 20px;
    border-bottom: 1px solid grey;
    background-color: #212121;

}

.main-title {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


.main-image {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments-controls {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-title {
    display: block;
    font-weight: bold;
}

.comments-group {
    display: flex;
	width: 50%;
	height: 200px;
	align-items: left;
	right:50%;
	justify-content: left;
    flex-direction: column;
	overflow-y: scroll;
    border: 1px solid grey;
}
.comments-upload{
    display: flex;
    width: 50%;
}
.comment-box{
    display: inline-block;
    width:75%;
}
.comment-button{
    display: inline-block;
    width:25%;
}
.submit-button{
	display:flex;
}